In [2]:
#import libraries
import pandas as pd
import numpy as np
!pip install lxml

Requirement already satisfied: lxml in /opt/conda/envs/Python36/lib/python3.6/site-packages (4.3.1)

In [3]:
#Create dataframe df0 consisting of three columns: PostalCode, Borough, and Neighborhood
ulr = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
tables = pd.read_html(ulr,header=0)
df0 = tables[0]
df0.tail()

    Postcode       Borough          Neighbourhood
282      M8Z     Etobicoke              Mimico NW
283      M8Z     Etobicoke     The Queensway West
284      M8Z     Etobicoke  Royal York South West
285      M8Z     Etobicoke         South of Bloor
286      M9Z  Not assigned           Not assigned

In [4]:
#Ignore cells with a borough that is Not assigned
df0=df0[df0.Borough != 'Not assigned']
df1 = df0.sort_values(by=['Postcode','Borough'])
df1.reset_index(inplace=True)
df1.drop('index',axis=1,inplace=True)
df1.tail()

    Postcode    Borough  Neighbourhood
205      M9V  Etobicoke    Mount Olive
206      M9V  Etobicoke    Silverstone
207      M9V  Etobicoke  South Steeles
208      M9V  Etobicoke    Thistletown
209      M9W  Etobicoke      Northwest

In [5]:
#Merge rows with same Postcode into one row with the neighborhoods separated with a comma
df2 = df1.groupby(by=['Postcode','Borough']).agg(lambda x: ','.join(x))
df2.reset_index(level=['Postcode','Borough'], inplace=True)
df2.tail()

    Postcode    Borough                                      Neighbourhood
98       M9N       York                                             Weston
99       M9P  Etobicoke                                          Westmount
100      M9R  Etobicoke  Kingsview Village,Martin Grove Gardens,Richvie...
101      M9V  Etobicoke  Albion Gardens,Beaumond Heights,Humbergate,Jam...
102      M9W  Etobicoke                                          Northwest

In [6]:
#If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough
df2['Neighbourhood']=df2['Neighbourhood'].replace('Not assigned', df2['Borough'])
df2.tail()

    Postcode    Borough                                      Neighbourhood
98       M9N       York                                             Weston
99       M9P  Etobicoke                                          Westmount
100      M9R  Etobicoke  Kingsview Village,Martin Grove Gardens,Richvie...
101      M9V  Etobicoke  Albion Gardens,Beaumond Heights,Humbergate,Jam...
102      M9W  Etobicoke                                          Northwest

In [7]:
df2.shape

(103, 3)

In [8]:
# Load coordinate data from CSV
geo_df = pd.read_csv('http://cocl.us/Geospatial_data')
geo_df.tail(20)

    Postal Code   Latitude  Longitude
83          M6R  43.648960 -79.456325
84          M6S  43.651571 -79.484450
85          M7A  43.662301 -79.389494
86          M7R  43.636966 -79.615819
87          M7Y  43.662744 -79.321558
88          M8V  43.605647 -79.501321
89          M8W  43.602414 -79.543484
90          M8X  43.653654 -79.506944
91          M8Y  43.636258 -79.498509
92          M8Z  43.628841 -79.520999
93          M9A  43.667856 -79.532242
94          M9B  43.650943 -79.554724
95          M9C  43.643515 -79.577201
96          M9L  43.756303 -79.565963
97          M9M  43.724766 -79.532242
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

In [9]:
#Rename PostCode to Postal Code of df2
df3 = df2.rename({'PostCode':'Postal Code'}, axis=1)
df3.tail(10)

    Postcode     Borough                                      Neighbourhood
93       M9A   Etobicoke                                   Islington Avenue
94       M9B   Etobicoke  Cloverdale,Islington,Martin Grove,Princess Gar...
95       M9C   Etobicoke  Bloordale Gardens,Eringate,Markland Wood,Old B...
96       M9L  North York                                      Humber Summit
97       M9M  North York                                    Emery,Humberlea
98       M9N        York                                             Weston
99       M9P   Etobicoke                                          Westmount
100      M9R   Etobicoke  Kingsview Village,Martin Grove Gardens,Richvie...
101      M9V   Etobicoke  Albion Gardens,Beaumond Heights,Humbergate,Jam...
102      M9W   Etobicoke                                          Northwest

In [10]:
df2.tail()

    Postcode    Borough                                      Neighbourhood
98       M9N       York                                             Weston
99       M9P  Etobicoke                                          Westmount
100      M9R  Etobicoke  Kingsview Village,Martin Grove Gardens,Richvie...
101      M9V  Etobicoke  Albion Gardens,Beaumond Heights,Humbergate,Jam...
102      M9W  Etobicoke                                          Northwest

In [16]:
#Rename Postal Code to PostCode of geo_df
geo_df2 = geo_df.rename({'Postal Code':'Postcode'}, axis=1)
geo_df2.tail(10)

    Postcode   Latitude  Longitude
93       M9A  43.667856 -79.532242
94       M9B  43.650943 -79.554724
95       M9C  43.643515 -79.577201
96       M9L  43.756303 -79.565963
97       M9M  43.724766 -79.532242
98       M9N  43.706876 -79.518188
99       M9P  43.696319 -79.532242
100      M9R  43.688905 -79.554724
101      M9V  43.739416 -79.588437
102      M9W  43.706748 -79.594054

In [17]:
#Merge DF2 & Geo_DF2
df4 = pd.merge(df2,geo_df2, on='Postcode')
df4.tail()

,Postcode,Borough,Neighbourhood,Latitude,Longitude
98,M9N,York,Weston,43.706876,-79.518188
99,M9P,Etobicoke,Westmount,43.696319,-79.532242
100,M9R,Etobicoke,"Kingsview Village,Martin Grove Gardens,Richvie...",43.688905,-79.554724
101,M9V,Etobicoke,"Albion Gardens,Beaumond Heights,Humbergate,Jam...",43.739416,-79.588437
102,M9W,Etobicoke,Northwest,43.706748,-79.594054